.ipynb_checkpoints/
data
*.pyc
*.ipynb
shapenetcore_partanno_segmentation_benchmark_v0/
*.so
.idea*
cls/
seg/
*.egg-info/
utils/training_acc_logs/
utils/training_loss_logs/
utils/val_acc_logs/
utils/val_loss_logs/
utils/cls_model/
